<div class="container">
  <% if flash[:notice] %>
 <p id=notice><%= flash[:notice] %></p>
  <% else %>
 <p id=notice></p>
  <% end %>
  <div class="row">
        <div class="col-md-3 ml-0">
           <%= render 'public/customers/customer', customer: @customer %>
        </div>
     <h4>Fish detail</h4>
    <div class="col-md-6">
  <% @fish.each do |fish| %>
     <table class="mt-5">
      <tr>
        <td>
            <%= link_to  public_fish_path(fish) do %>
            <%= image_tag fish.image, size: "200x200" %>
            <%end%>
        </td>
        <td>
            <table class="table table-borderless ml-4">
             <tr>
	          <th>user_name</th>
	          <th><%= @customer.user_name%></th>
	        </tr>
	         <tr>
	          <th>title</th>
	          <th><%= fish.title%></th>
	        </tr>
	        <tr>
	          <th>enjoyed</th>
	          <th><%= fish.body %></th>
	        </tr>

	        <% if @customer = current_customer %>
	        <th><%= link_to "編集する", edit_public_fish_path(@fish), class:"btn btn-success"%></th>
	        <%end%>

          </table>
          </td>
         </tr>
         </table>
         <%end%>
  </div>
  </div>
  </div>
