<div class="container">
  <% if flash[:notice] %>
 <p id=notice><%= flash[:notice] %></p>
  <% else %>
 <p id=notice></p>
  <% end %>
  <div class="row">
        <div class="col-md-4 ml-0">
           <%= render 'public/customers/customer', customer: @customer %>
        </div>
    <div class="ml-4">
      <h4>My page</h4>
    </div>
    <div class="row">
    <div class="col-md-4">
       <% @fish.each do |fish| %>
        <div>
          <% if @fish.image.attached? %>
          <%= image_tag @fish.image, size: "200x200" %>
          <% else %>
           <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </div>
    </div>
       <div class="col-md-8">
        <table class="table table-borderless">
          <tr>
	          <th>user_name</th>
	          <th><%= @customer.user_name%></th>
	        </tr>
	         <tr>
	          <th>title</th>
	          <th><%= @customer.title%></th>
	        </tr>
	        <tr>
	          <th>enjoyed</th>
	          <th><%= @customer.introduction %></th>
	        </tr>
	        <th><%= link_to "編集する",public_fishs_edit(@fish), class:"btn btn-success"%></th>
       <%end%>
      </table>
  </div>
  </div>
  </div>