<div class="container mt-1">
 <div class="mx-auto" style="width: 50%;">
<h2 class="mb-2">Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table class="table table-borderless">

    <tr>
       <td> <%= f.label :ユーザー名 %></td>
       <td><%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %></td>
    </tr>

    <tr>
         <td><%= f.label :メールアドレス ,class: "col-xs-3"%>
         <td><%= f.email_field :email, autofocus: true, autocomplete: "email"%>
    </tr>

    <tr>
         <td><%= f.label :電話番号（ハイフンなし） ,class: "col-xs-3"%>
         <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "phone_number"%>
    </tr>

    <tr>
     <td><%= f.label :パスワード %>
         <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
         <% end %>
     <td><%= f.password_field :password, autocomplete: "new-password" %>
    </tr>

  　<tr>
     <td><%= f.label :パスワード（確認用） %>
     <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </tr>
  </table>

  <div class="actions text-right">
    <%= f.submit "　サインインする　" %>
  </div><br>
<% end %>

<h6>※既に登録済みの方

<%= link_to "こちら", new_session_path(resource_name) %><span>からログインしてください。</span></h6>
</div>
</div>